@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
    margin-left: 150px;
    margin-top: 35px;
}
.nav-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
padding: 10px;
margin-right: 150px;
margin-top: 35px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;

opacity: 0.8;

}
nav{
    display: flex;
    justify-content: space-between;
}
.banner-items{
     height: 652px;
   

    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
margin: 0 auto;
}
#coder-logo{
    display: flex;
   margin: 0 auto;
   margin-top: 26px;
}
.title{
    color: rgb(13, 19, 33);
    
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    
    text-align: center;
    margin-top: 32px;
}
.sub-title{
    color: rgb(13, 19, 33);
    display: flex;
    justify-content: center;

    font-size: 16px;
    font-weight: 400;
    text-align: center;
    
    align-items: center;
    margin-top: 44px;
}
.contact-btn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 53px;
    background: rgb(13, 19, 33);
}
.banner-items a{
    text-decoration: none;

}
/* second section  */
/* common title & sub title  */
.second-section{
    
width: 946px;
height: 1235px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 0 auto;
    
}
.main-bg{
    border-radius: 16px;
margin-top: 74px;
background: rgba(13, 19, 33, 0.02);
    width: 1140px;
    height: 1395px;

}
.title{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;

text-align: center;
}
.second-section h2{
    color: rgba(13, 19, 33, 0.7);

font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: left;
margin-bottom: 16px;
}
.second-section p{
    color: rgb(13, 19, 33);   
    font-size: 16px;
    font-weight: 400;    
    text-align: left;
    opacity: 0.7;
}
.sub-title{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
}
.second-bg{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    margin: 0 auto;
    /* border: 2px solid rgb(11, 255, 112) ; */
    align-items: center;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.right-img-container{
    /* Frame 10 */
    width: 850px;
    height: 240px;
    display: flex;
    margin: 0 auto;
    margin-top: 48px;
    flex-direction: row-reverse;
}
.left-img-container{
        /* Frame 10 */
    width: 850px;
    height: 240px;
    display: flex;
    margin: 0 auto;
    margin-top: 48px;       
}
.common-btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin: 20px 0px 10.5px 0px;
}
.Inspiration h2{
    margin-top: 88px;
}
.Inspiration p{
    margin: 24px 0px 48px 0px;
}
.my-target{
    width: 1140px;
    height: 460px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 140px;
}
.html{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.css{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    margin: 0px 24px;
    background: rgba(0, 76, 232, 0.05);
}
.javascriptt{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.cards{
    display: flex;    
}
.js-inner-box, .css-inner-box, .html-inner-box{
    width: 284px;
    height: 219px;
    justify-content: center;
    margin: 40px;
}
.my-target .sub-title{
    margin-bottom: 20px;
}
.cards h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin: 30px 0px 8px 0px;
}
.cards p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin: 15px 0px;
}
.cards h3{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 35px;
}
.cards img{
    width: 56px;
    height: 56px;
}
.support{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    border-radius: 16px;
    margin-top:65px;
}
.support-midlebox{
    max-height: 1044;
    max-height: 185;
    border: 1px solid ;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,59,74,0.3785889355742297) 35%, rgba(17,33,36,0.24413515406162467) 100%);
    border-radius: 16px;
    
}
.support input{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    height: 57px;
    width: 547px;
    margin-top: 16px;
    margin-bottom: 64px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
.support button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 17px 20px 17px 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
.support h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin: 65px 0px 22px 0px;
}
.support p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 29px;
}

.form-items{
display: flex;
justify-content: center;
}
/* footer section */

footer{
    width: 99.5%;
    height: 100px;
    background-color: rgba(13, 19, 33, 0.03);
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 80px;
    display: flex;
}
.footer-content{
    display: flex;  
    margin: 36px 10px; 
}

.comment{
    justify-content: left;
}
.facebook{
    margin-left: 326px;
}
.github{
    margin-left: 24px;
}
.linkedin{
    margin-left: 24px;
}